<!-- Main Footer -->
<footer class="main-footer" style="background-color: rgb(14, 12, 12);">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline text-white" >
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong></strong> <div class="text-white">Copyright © 2023-2024.All rights reserved.</div>
  </footer>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

</body>
</html>