
<%- include('./header.ejs') %>


<section 3>
    <div><img src="img/about.webp" alt="" class="w-100"></div>
</section>


<section 4>
    <div class="container-fluid">
        <div class="container text-center">
            <div class="row">
                <u>
                    <h1 class="why" data-aos="fade-up"  data-aos-duration="1500"><span style="color: #fbaa1a;">ABOUT</span>US</h1>
                </u>
                <div class="col-md-3 mt-2 " data-aos="fade-right" data-aos-duration="1000"><img src="img/about3.jpg" alt="" class="w-100  h-100" ></div>
                <div class="col-md-6 mt-2">
                    <p class="para" data-aos="zoom-in"  data-aos-duration="1500">The Grievance Redressal Cell has been developed to settle the grievances of the students and
                        other stakeholders within a reasonable time period for further strengthening the bond of the
                        students with the institution by providing them with all kind of facilities to a
                        satisfaction level for maintaining a convenient ambience of academic teaching and learning.
                        Oréll believes that providing on time and competent service is essential not only to attract
                        new customers, but also to retain existing ones. ITMGrievance, the revolutionary online
                        grievance handling mechanism aims at minimising instances of complaints in professional


                        colleges through effective tracking and monitoring of grievances ensuring prompt redressal.
                        This portal for online registration and disposal of grievances help users obtain immediate
                        response and resolution to their grievances from the institution itself</p>
                </div>
                <div class="col-md-3 mt-2" data-aos="fade-left"  data-aos-duration="1000"><img src="img/p2.jpg" alt="" class="w-100 h-100"></div>
            </div>
        </div>
    </div>
</section>



<%- include('./footer.ejs') %>