<%- include('./header.ejs') %>



<section 3>
    <div><img src="img/features.jpg" alt="" class="w-100"></div>
</section>

<section 4>
    <div class="container-fluid">
        <div class="container ">
            <div class="row">
                <u data-aos="fade-up" data-aos-duration="1000">
                    <h1 class="why mt-4 text-center" >  GRIEVANCE <span style="color: #fbaa1a;">REDRESSAL</span>
                         SYSTEM
                    </h1>
                </u>
                <div class="col-md-12 mt-2" > 
                    <h4 class="mt-5" data-aos="fade-up" data-aos-duration="1000">FEATURES</h4>
                    <hr>
                    <p class="para" data-aos="fade-up" data-aos-duration="1000">The Grievance Redressal System the latest productivity enhancement tool for
                        higher education has umpteen features that make it appealing to educational institutions
                        worldwide. The separate dashboard for students, teachers, parents and non-teaching staff in
                        addition to admin and grievance cell members helps to maintain confidentiality in grievance
                        dealing procedure. It gives opportunity for the institution to implement a set of specific
                        measures to ensure accountability and maximum output, by managing grievances of the
                        stakeholders and increasing transparency thereby establishing a very positive ambience.</p>

                    <h4 class="mt-5" data-aos="fade-up" data-aos-duration="1000">USER INTERFACE AT A GLANCE</h4>
                    <hr>
                    <ul class="fon" data-aos="fade-up" data-aos-duration="1000">
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                    </ul>

                    <h4 class="mt-5" data-aos="fade-up" data-aos-duration="1000">ADMIN AND GRIEVANCE HANDLER INTERFACE AT A GLANCE</h4>
                    <hr>
                    <ul class="fon" data-aos="fade-up" data-aos-duration="1000">
                        <li>Account Settings to edit and reset admin profile</li>
                        <li>Add grievance cell members</li>
                        <li>Create and monitor accounts of grievance committee</li>
                        <li>Add head of the institution and a management representative in the cell</li>
                        <li>Option to verify and approve registered users checking their authenticity</li>
                        <li>View complaints sent by the users</li>
                        <li>Check the authenticity of complaints</li>
                        <li>Assign complaints to grievance cell members based on the complaint nature/type</li>
                    </ul>

                    <h4 class="mt-5" data-aos="fade-up" data-aos-duration="1000">DEAN INTERFACE AT A GLANCE</h4>
                    <hr>
                    <ul class="fon" data-aos="fade-up" data-aos-duration="1000">
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                        <li>Post complaints by students, teachers, parents an other staff</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./footer.ejs') %>