<section 6>
    <div class="container-fluid text-white why bg-dark "><!--footer start-->
        <div class="container">
            <div class="row bau" >

                <div class="col-md-6 mt-2" data-aos="fade-right"  data-aos-duration="2000">
                    <h1 class="kl">RJIT <span style="color: #fbaa1a;">GRIEVANCE</span> PORTAL </h1>
                    <u>
                        <p class="pet">#1 Online Grievance Redressal Mechanism designed in accordance with AICTE
                            directive aims at
                            resolving the grievances of students, parents, staff and others with optimal
                            transparency
                            and accuracy.</p>
                    </u>
                    <div class="icon" style="display: flex; column-gap: 12px;">
                        <b style="color: #fbaa1a;"><i class="fab fa-linkedin-in"></i></b>
                        <b style="color: #fbaa1a;"><i class="fab fa-facebook-f"></i></b>
                        <b style="color: #fbaa1a;"><i class="fab fa-instagram"></i></b>
                    </div>
                </div>

                <div class="col-md-3 mt-2 ram" data-aos="fade-left"  data-aos-duration="2000">
                    <h3 class="kl"> <u> CONTACT US </u></h3>
                    <h5 class="hh">Contact</h5>
                    <p>Mobile number : 9111934744,9753037444</p>
                    <p>Email : rjit_bsft@yahoo.com</p>
                    <h5 class="hh">Address</h5>
                    <p>BORDER SECURITY FORCE ACADEMY TEKANPUR, GWALIOR (M.P.)-INDIA-475005</p>
                </div>
                <div class="col-md-3"  data-aos-duration="2000" data-aos="fade-left">
                    <h3 class="kl"  > <u> SOME LINKS </u></h3>
                    <a href="" class="nav-link gg">
                        <h6>ABOUT</h6>
                    </a>
                    <a href="" class="nav-link gg">
                        <h6>GRIEVANCE</h6>
                    </a>
                    <a href="" class="nav-link gg">
                        <h6>CONTACT</h6>
                    </a>
                    <a href="" class="nav-link gg">
                        <h6>HELP</h6>
                    </a>
                    <a href="" class="nav-link gg">
                        <h6>BENEFITS</h6>
                    </a>
                    <a href="" class="nav-link gg">
                        <h6>LOGIN</h6>
                    </a>
                </div>

            </div>
        </div>
    </div><!--footer end-->

    </div>
</section>

<Section 7> <!--last footer start-->
    <div class="container-fluid bg-black ">
        <div class="container">
            <div class="row text-center">
                <h5 class="KO">"TERM AND CONDITION"| "COPYRIGHT @ 2023" | "PRIVACY POLICY" </h5>
            </div>
        </div>
    </div>
</Section>


<script>
    window.addEventListener('scroll',
        function () {

            let baba =
                document.getElementById('row')

            if (window.pageYOffset >= 115) {
                baba.classList.add('sticky')
            } else {
                baba.classList.remove('sticky')
            }
        });
</script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>


</body>

</html>