<%- include('./header.ejs') %>


<section 3>
    <div class="container-fluid at">   
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 b">
                    <div class="card shadow-lg ba">
                        <div class="card-body">
                            <h3 style="color: aliceblue;">LEAVE US MASSAGE</h3>
                            <form data-aos="fade-up" data-aos-duration="1500">
                                <input type="text" class="form-control" name="" placeholder="Name"><br>
                                <input type="number" name="" id="" class="form-control" placeholder="Roll Number"> <br>
                                <input type="email" class="form-control" name="" placeholder="Email"> <br>
                                <input type="number" class="form-control" name="" placeholder="Number"> <br>
                                <textarea name="" id="" cols="30" rows="6" class="form-control"
                                    placeholder="Message"></textarea> <br>
                                <a href=""><button class=" btn btn-outline-warning">Send Message</button></a>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3"></div>
            </div>
        </div>
    </div>
</section>


<%- include('./footer.ejs') %>